<h1><%= @edition.season.years + " / " + @edition.competition.name %></h1>
<ul>
  <li><%= link_to "Contestants Teams", edition_contestants_path(@edition) %></li>
  <li><%= link_to "Calendar / results", edition_schedules_path(@edition) %></li>
  <li>Generate Calendar</li>
</ul>
