<div class="wordCarousel">
  <span></span>
  <div>
<!--        Use classes 2,3, or 4 to match the number of words -->
    <ul class="flip4">
      <li>Respect</li>
      <li>Fair Play</li>
      <li>Sportivité</li>
      <li>Convivialité</li>
    </ul>
  </div>
  <%= image_tag "logo_silhouette_mouv.png" %>
</div>
<br>
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Risus feugiat in ante metus. Ultricies integer quis auctor elit sed. Magna fringilla urna porttitor rhoncus dolor purus. Mauris vitae ultricies leo integer malesuada nunc vel risus. Nunc congue nisi vitae suscipit tellus mauris a diam maecenas. Malesuada proin libero nunc consequat interdum. Aenean sed adipiscing diam donec. Tortor at risus viverra adipiscing at in tellus. Tincidunt praesent semper feugiat nibh sed pulvinar proin gravida hendrerit. Neque egestas congue quisque egestas diam. Mi quis hendrerit dolor magna eget est lorem ipsum dolor. Enim sit amet venenatis urna cursus eget nunc.
<br>
Auctor augue mauris augue neque gravida in fermentum et. Rhoncus est pellentesque elit ullamcorper dignissim. Nunc consequat interdum varius sit amet mattis. Vitae tempus quam pellentesque nec nam aliquam. Adipiscing elit pellentesque habitant morbi tristique senectus et netus et. Et molestie ac feugiat sed lectus vestibulum mattis. Ornare lectus sit amet est placerat. Sit amet nulla facilisi morbi tempus iaculis. Nisi quis eleifend quam adipiscing vitae. Quis commodo odio aenean sed. In fermentum et sollicitudin ac.
<br><br>
Aliquam sem et tortor consequat id porta nibh. Maecenas sed enim ut sem viverra. Nulla malesuada pellentesque elit eget gravida cum. Mauris nunc congue nisi vitae suscipit tellus mauris a. Venenatis urna cursus eget nunc. Quam nulla porttitor massa id. Turpis in eu mi bibendum neque egestas congue. Cursus euismod quis viverra nibh cras pulvinar. Ut lectus arcu bibendum at varius. Amet est placerat in egestas erat imperdiet sed euismod. Faucibus interdum posuere lorem ipsum dolor sit amet. Vestibulum rhoncus est pellentesque elit ullamcorper. Pulvinar elementum integer enim neque volutpat ac tincidunt.
<br>
Adipiscing commodo elit at imperdiet. Pulvinar neque laoreet suspendisse interdum consectetur libero id faucibus nisl. Egestas sed tempus urna et pharetra pharetra. Facilisis mauris sit amet massa vitae tortor condimentum lacinia quis. Nunc lobortis mattis aliquam faucibus purus. Dui nunc mattis enim ut tellus elementum sagittis. Vitae congue eu consequat ac felis donec et odio. In nulla posuere sollicitudin aliquam ultrices sagittis. Egestas dui id ornare arcu odio ut sem. Erat imperdiet sed euismod nisi porta lorem mollis aliquam ut. Varius sit amet mattis vulputate. Nibh mauris cursus mattis molestie a iaculis. Pharetra magna ac placerat vestibulum. Donec adipiscing tristique risus nec feugiat in fermentum posuere urna. Metus dictum at tempor commodo ullamcorper a lacus. Molestie nunc non blandit massa enim. Sollicitudin tempor id eu nisl nunc.
