
<div class="wordCarousel">
  <span></span>
  <div>
<!--        Use classes 2,3, or 4 to match the number of words -->
    <ul class="flip4">
      <li>Respect</li>
      <li>Fair Play</li>
      <li>Sportivité</li>
      <li>Convivialité</li>
    </ul>
  </div>
  <%= image_tag "logo_silhouette_mouv.png" %>
</div>
<hr>
<br>
<%= render "competitions/display_championship_calendar", edition: @current_championship_edition %>
<%= render "competitions/display_championship_ranking", edition: @current_championship_edition %>

<br>
