// Place all the styles related to the Competitions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.schedule-designation {
  color: rgba(0, 153, 255, 0.8);
  font-weight: bolder;
  font-size: 24px;
  // border: 1px solid red;
  // width: 250px;
  margin: 0 auto;
  position: relative;
  padding-bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  line-height: 16px;
  .info {
    // border: 1px solid purple;
    color: white;
    font-weight: bolder;
    font-size: 16px;
    line-height: 16px;
    border-left: 1px solid white;
    padding-left: 10px;
    margin-left: 10px;

    // position: absolute;
    // right: 0px;
    // bottom: 0px;
  }
  .info::after {
  content: "";
  height: 100%;
  display: inline-block;
}
}

.game {
  // border: 1px solid red;
  display: flex;
  justify-content: center;
  margin: 10px auto;

  // width: -webkit-fit-content;
  // width: -moz-fit-content;
  // width: fit-content;
}

.team {
  // border: 1px solid green;
  width: 250px;
  background-color: rgba(200, 200, 200, 0.4);
  white-space: nowrap;
}

.team:first-child {
  border-radius: 5px 0 0 5px;
  padding: 0px 50px 0 10px;
}
.team:last-child {
  border-radius: 0 5px 5px 0;
  padding: 0px 10px 0 50px;
}

.result {
  // border: 5px solid rgba(200, 200, 200, 0.5);
  border-radius: 10px;
  // margin: 0px 10px;
  height: 24px;
  max-height: 24px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(200, 200, 200, 0.5);
  // box-shadow: 0 0 4pt 0 rgba(200, 200, 200, 1);
  position: absolute;
  font-size: 24px;
  color: #333;

  .status {
    color: #a50000;
    font-size: 16px;
  }
}

.center-circle {
  margin: 0 10px 0 10px;
  font-size: 8px !important;
  color: white;
}

.middle-line {
  position: absolute;
  height: 100%;
  border: 1px solid white;
}


.ranking {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.ranking td, .ranking th {
  // border: 1px solid #ddd;
  padding: 8px;
}

.ranking tr:nth-child(even){background-color: rgba(200, 200, 200, 0.5);}
.ranking tr:nth-child(odd){background-color: rgba(200, 200, 200, 0.3);}
.ranking tr:first-child{background-color: rgba(200, 200, 200, 0);}
.ranking tr:last-child{
  td:first-child {
    border-radius: 0 0 0 10px;
  }
  td:last-child {
    border-radius: 0 0 10px 0;
  }
}
.ranking tr:nth-child(2){
  td:first-child {
    border-radius: 10px 0 0 0;
  }
  td:last-child {
    border-radius: 0 10px 0 0;
  }
}

.ranking tr:hover {background-color: rgba(200, 200, 200, 0.7);}
.ranking tr:first-child:hover {background-color: rgba(200, 200, 200, 0.0);}

.ranking th {
  text-align: left;
  color: rgba(0, 153, 255, 0.8);
}

.ranking td.bolder {
  font-weight: bolder;
}

.ranking td.rank {
  text-align: right;
  width: 5%;
}

