// Place all the styles related to the Competitions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.game {
  // border: 1px solid red;
  display: flex;
  justify-content: center;
  margin: 10px auto;

  // width: -webkit-fit-content;
  // width: -moz-fit-content;
  // width: fit-content;
}

.team {
  // border: 1px solid green;
  width: 250px;
  background-color: rgba(200, 200, 200, 0.4);
  padding: 0px 10px 0 10px;
}

.team:first-child {
  border-radius: 5px 0 0 5px;
}
.team:last-child {
  border-radius: 0 5px 5px 0;
}

.result {
  // border: 5px solid rgba(200, 200, 200, 0.7);
  // margin: 0px 10px;
  width: 50px;
  display: flex;
  justify-content: center;
  background-color: rgba(200, 200, 200, 0.7);
  box-shadow: 0 0 4pt 0 rgba(200, 200, 200, 1);
}
