* {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

// html, body {height: 100%;}

body {
  background-image: image-url("logo_silhouette_mouv.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: rgba(27, 40, 56, 1);


}


.body-cover {
  border: 1px solid rgba(27, 40, 56, 1);
  background-color: rgba(27, 40, 56, 0.8);
  width: 100%;
  margin: 0 auto;
  min-height: 100%;
}

.container {
  // border: 1px solid green;
  color: white;
  background-color: rgba(27, 70, 96, 0.7);
  margin: 20px auto;
  padding: 30px;
  border-radius: 50px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;

  h1, h2, h3, h4 {
    font-family: 'Frijole', cursive;
  }
}

.wordCarousel {
    // border: 1px solid green;
    font-size: 36px;
    font-weight: 100;
    color: #939393;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    div {
        // border: 1px solid blue;
        overflow: hidden;
        position: relative;
        float: right;
        height: 65px;
        padding-top: 10px;
        margin-top: -10px;
        li {
            font-family: Serif;
            color: #09f;
            font-weight: 700;
            padding: 0 10px;
            height: 45px;
            margin-bottom: 45px;
            text-align: right;
        }
    }
    img {
      // border: 1px solid pink;
      width: 150px;
    }
}

.flip2 { animation: flip2 6s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }
.flip3 { animation: flip3 8s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }
.flip4 { animation: flip4 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }

@keyframes flip2 {
    0% { margin-top: -180px; }
    5% { margin-top: -90px;  }
    50% { margin-top: -90px; }
    55% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -270px; }
}

@keyframes flip3 {
    0% { margin-top: -270px; }
    5% { margin-top: -180px; }
    33% { margin-top: -180px; }
    38% { margin-top: -90px; }
    66% { margin-top: -90px; }
    71% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -270px; }
}

@keyframes flip4 {
    0% { margin-top: -360px; }
    5% { margin-top: -270px; }
    25% { margin-top: -270px; }
    30% { margin-top: -180px; }
    50% { margin-top: -180px; }
    55% { margin-top: -90px; }
    75% { margin-top: -90px; }
    80% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -270px; }
}

@media (max-width: 768px) {
  .flip4 {
    display: none;
  }
}


.carousel-box {
  // border: 1px solid lightblue;
  width: 80%;
  margin: 40px auto 40px auto;
  overflow: hidden;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(255,255,255,0.56);
  -moz-box-shadow: 0px 0px 15px 0px rgba(255,255,255,0.56);
  box-shadow: 0px 0px 15px 0px rgba(255,255,255,0.56);
}

.carousel {
  // border: 1px solid orange;
  width: 100%;
  position: relative;
  padding-top: 66%;

}

.carousel-inner {
  // border: 1px solid green;

  position:  absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  font-size: 20px;
  display: flex;
  align-items: flex-end;
  // height: 100%;
}

.carousel-item {
  // border: 1px solid red;
  // height: 100%;
}

.carousel-caption {
  // border: 1px solid purple;
  background-color: rgba(0, 0,0, 0.3);
  border-radius: 10px;
}
